.containerHeader {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.containerHeader h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: var(--white);
  text-transform: capitalize;
}
