.containerPokedex {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--background-dark);
  border-radius: 5px;
}

.withoutResults {
  padding: 1rem;
  font-size: 1.5rem;
  color: var(--blue);
  font-weight: 600;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.loading {
  height: calc(100vh - 200px);
  width: 100%;
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loading .spinner {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: rotate;
  animation-timing-function: linear;
}

@keyframes rotate {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 1152px) {
  .containerPokedex {
    justify-content: center;
  }
  .withoutResults{
    font-size: 1.2rem;
  }
}
